$primary: #c4190d;
$secondary: #333130;
$third: rgb(248, 245, 245)k;

body {
    background-color: #313538;
}

container-fluid {
    color: white;
}

h1 {
    color: red;
}

.titre {
    height: 100vh;

}

@import "~bootstrap/scss/bootstrap";